name: Build hhangular/row-actions
run-name: ${{ github.actor }} run build on ${{ github.repository }}
on:
  push:
    branches:
      - '*'
jobs:
  build-angular-lib:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install
      - run: npm run build


