name: Publish hhangular/row-actions to NPM
run-name: ${{ github.actor }} run build on ${{ github.repository }}
on:
  push:
    tags:
      - '*'
jobs:
  publish-angular-lib:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
      - run: npm install
      - run: npm run build
      - run: npm publish dist/


